.profileInfoLoading{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 30px 0 0 50px;
}

.userNameLoading{
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
    margin-bottom: 50px;
}