.header {
    grid-area: h;
    background-color: darkgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 30px;
    color: white;
}

.header img {
    width: 80px;
}

.loginBlock{
    margin-right: 16px;
    font-size: 22px;
    cursor: pointer;
}