.nav {
    background-color: green;
    padding: 20px;
}

.item a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.item a:hover {
    text-shadow: 1px 1px #000000;
}
.item a.active {
    color: #d4ffb1;
}
