.messenger {
    /*display: grid;*/
    /*grid-template-columns: 2fr 10fr;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.chats {
    padding: 15px;
}

.chat {
    color: white;
    text-decoration: none;
}

.chat .active {
    color: green;
    text-decoration: none;
    font-size: 1.2em;
}
.chat a:hover {
    text-shadow: 1px 1px 1px #000000;
}

.messages {
    padding: 15px;
}

.messages .message {

}